html{
    background-color: black
}

.grid{
    display: grid;
    grid-template-columns: 620px 600px;
    grid-template-rows: 520px 520px;
    gap: 20px;
    position: absolute;
}

.frame{
    background-color: lightblue;
    border: 10px ridge white;
    box-shadow: 0px 0px 50px white;
    /*z-index: -5;*/
}

.C{
    grid-column-start: 1;
    grid-row-start: 1;
    color: lightblue;
}

.H{
    grid-column-start: 2;
    grid-row-start: 1;
    color: lightblue;
}

.T{
    grid-column-start: 1;
    grid-row-start: 2;
    color: lightblue;
}

.E{
    grid-column-start: 2;
    grid-row-start: 2;
    background: url(/public/img/scaredHuman.jpg) no-repeat;
    background-position: 50%;
    background-size: 150%;
    color: rgb(182, 182, 182);
}

.words{
    z-index: 5;
}

.Computer1{
    grid-column-start: 1;
    grid-row-start: 1;
    background: url(/public/img/computerF1.png) no-repeat;
    height: 472.5px;
    width: 420px;
    background-size: 100%;
    left: 100px;
    top: 35px;
    position: relative;
    z-index: 100;
    color: lightblue;
    line-height: 550px;
}

.Run_for_your_life{
    grid-column-start: 1;
    grid-row-start: 1;
    left: 90px;
    top: 95px;
    position: relative;
    line-height: 100px;
    text-indent: 75px;
    font-size: 20px;
    z-index: 101;
    animation-name: wiggle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% { transform: rotate(-2deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

.Human{
    grid-column-start: 2;
    grid-row-start: 1;
    background: url(/public/img/scaredHuman.jpg) no-repeat;
    border: 5px ridge rgb(171, 171, 255);
    height: 472.5px;
    width: 420px;
    background-size: 150%;
    background-position: 50%;
    left: 85px;
    top: 10px;
    position: relative;
    color: lightblue;
    line-height: 1030px;
}

.AAAAAAAAAAAAAAAAAAAHHHHHHHHH{
    grid-column-start: 2;
    grid-row-start: 1;
    left: 85px;
    top: 60px;
    position: relative;
    line-height: 850px;
    text-indent: -32.5px;
    font-size: 24px;
    animation-name: wiggle;
    animation-duration: 0.00001s;
    animation-iteration-count: infinite;
}

.Computer2{
    grid-column-start: 1;
    grid-row-start: 2;
    background: url(/public/img/computerF1.png) no-repeat;
    height: 472.5px;
    width: 420px;
    background-size: 100%;
    left: 100px;
    top: 35px;
    position: absolute;
    line-height: 550px;
    color: lightblue;
}

.HAHAHAHAHA{
    left: 90px;
    top: 730px;
    position: absolute;
    line-height: 135px;
    text-indent: 50px;
    font-size: 24px;
    animation-name: wiggle;
    animation-duration: 0.001s;
    animation-iteration-count: infinite;
}

.HAHAHAHA{
    left: 163px;
    top: 805px;
    position: absolute;
    font-size: 24px;
    animation-name: wiggle;
    animation-duration: 0.001s;
    animation-iteration-count: infinite;
}

.HAHAHA{
    left: 185px;
    top: 825px;
    position: absolute;
    font-size: 24px;
    animation-name: wiggle;
    animation-duration: 0.001s;
    animation-iteration-count: infinite;
}

.HAHA{
    left: 207px;
    top: 845px;
    position: absolute;
    font-size: 24px;
    animation-name: wiggle;
    animation-duration: 0.001s;
    animation-iteration-count: infinite;
}

.Explosion{
    background: url(/public/img/realCoolExplosion.gif) no-repeat;
    height: 700px;
    width: 500px;
    background-size: 80%;
    background-position: 10%;
    left: 700px;
    top: 600px;
    position: absolute;
    line-height: 200px;
    text-indent: 500px;
    font-size: 24px;
}

.NOOOOOOOOOOOOOOO{
    text-indent: 200px;
    line-height: 200px;
    color: lightblue;
}

.fire{
    grid-column-start: 1;
    grid-row-start: 2;
    background: url(/public/img/Fire.gif) no-repeat;
    height: 700px;
    width: 500px;
    background-size: 12%;
    z-index: 100;
    left: 440px;
    top: 23px;
    position: relative;
    color: lightblue;
}